<h1>Welcome to CSE Motors</h1> 
 <!--Flash Message-->
 <%- messages() %>
<div class="main">
    <!-- Section: DMC Delorean -->
    <section class="delorean_card">
        <div class="details">
            <h2>DMC Delorean</h2>
                <ul>
                    <li>3 Cup holders</li>
                    <li>Superman doors</li>
                    <li>Fuzzy dice!</li>
                </ul>
                <button class="btn">Own Today</button>
        </div>
        <div class="delorean_car">
            <img src="/images/vehicles/delorean.webp" alt="back to the future">
        </div>
    </section>
     <!-- Section: Delorean Upgrades -->
     <section class="card">
        <h2>Delorean Upgrades</h2>
        <ul class="content_upgrades">
            <!-- Upgrade: Flux Cap --> 
            <li>     
                <div class="image odd">
                    <img src="/images/upgrades/flux-cap.png" alt="A gray square">
                </div>
                <h3>Flux Cap</h3>                    </li>
             <!-- Upgrade: Flame Decals -->
             <li>
                <div class="image even">
                    <img src="/images/upgrades/flame.jpg" alt="flame">
                </div>
                <h3>Flame Decals</h3>
            </li>    
            <!-- Upgrade: Bumper Sticker -->
            <li>
                <div class="image odd">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker">
                </div>
                <h3>Bumper Sticker</h3>
            </li>
            <!-- Upgrade: Hub Cap -->
            <li>
                <div class="image even">
                    <img src="/images/upgrades/hub-cap.jpg" alt="silver hub cap">
                </div>
                <h3>Hub Cap</h3>
            </li>
        </ul>
    </section>
    <!-- Section: DMC Delorean Reviews -->
    <section class="card">
        <h2>DMC Delorean Reviews</h2>
            <div class="reviews">            
                <ul>
                    <li>"So fast it's almost like traveling in time." (4/5)</li>
                    <li>"Coolest ride on the road." (4/5)</li>
                    <li>"I'm feeling McFly!" (5/5)</li>
                    <li>"The most futuristic ride of our day." (4.5/5)</li>
                    <li>"80s livin and I love it!" (5/5)</li>
                </ul>  
            </div>       
    </section>
</div>