@media (min-width: 750px) {

    h1 {
        font-size: 50px;
        margin-left: 10%;    
    }

    .delorean_car img {
        width: 50%;
      }

    footer, nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }  
      
    .details {
        font-size: larger;
        top: 50%;
        left: 25%;
      }
    
    .btn {
        font-size: large;
        height: 35%;
    } 

    .card {
        float:left;
        width: 50%;
    }

    .content_upgrades {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-gap: 0px 10px;
        justify-items: center;
    }

    .image {
        width: 200px;
        height: 50%;
      }

/*Grid for the vehicles pages*/
    #inv-display {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
      }
      
    #inv-display li {
        width: 25em;
      }

      .namePrice, h2 > a {
        font-size: large;
      }
    
/* single car view */
    #vehicle {
        grid-template-columns: 50% 40%;
        padding-bottom: 1rem;
      }

    #vehicle img {
        width: auto;
        max-height: 14em;
      }

/* account management*/
    .account {
      font-size: 2rem!important;
    }      

    .alert {
      font-size: 1em;
    }
}