/******* Change Box Model ***************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
  --header-font: "Montserrat", sans-serif;
  --main-font: "Open Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

footer {
  clear: both;
}

.siteName a, #tools a {
  text-decoration: none;
  color: black;
}

.siteName {
  font-family: var(--header-font);
  font-size: 40px;
  font-weight: bold;
}

#tools {
  font-family: var(--main-font);
  font-size: x-large;
}

footer, nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: black;
  color: white;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: white;
  margin-top: 1rem;
}

nav ul {
  padding: 1rem;
}

footer, nav li {
  font-family: var(--main-font);
  font-size: larger;
  list-style: none;
}

nav a {
  color: white;
}

h1 {
  font-family: var(--header-font);
  font-size: x-large;
}

.delorean_car img {
  display: block;   
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 2rem;
}

h2, h3 {
  font-family: var(--main-font);
  font-size: large;
  margin-left: 1rem;
}

.card {
  padding-bottom: .5rem;
}

.details h2 {
  margin: 0 1rem 0 1rem;
}

.details ul {
  padding-left: 1rem;
}

.details li, .content_upgrades li {
  list-style: none;
  font-family: var(--main-font);
}

.details li {
  font-size: medium;
}

.details {
  font-weight: bold;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: auto;
  left: 5%;
  background: rgb(248, 254, 255, .8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: .5rem;
}

.btn {
  font-weight: bold;
  font-size: medium;
  color: white;
  background: rgb(0, 85, 110);
  width: auto;
  height: 15%;
}

.content_upgrades {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  padding-left: 0;
}

.reviews li {
  font-family: var(--main-font);
  font-size: medium;
  font-weight: bold;
  padding: 1rem;
}

.image {
  box-sizing: content-box;
  background:black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: .5rem;
  width: 125px;
  height: 50%;
}

.image img {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: solid 3px white;
  padding: 1rem;
}

.odd {
  padding: 1.5rem 1rem 1rem 1rem;
}

.even {
  padding: 1rem 1rem 1.5rem 1rem;
}

/*Vehicles pages styling*/
#inv-display {
  display: grid;
  gap: 1em;
  list-style: none;
  padding: 1em;
  justify-content: center;
}

#inv-display li img {
  width: 200px;
  height: 110px;
}

#inv-display li {
  max-width: 25em;
  background-color: black;
  border-radius: 1rem;
  padding: 1rem 0 1rem 0;
  text-align: center;
}

.namePrice {
  color: white;
  font-family: var(--main-font);
}

.namePrice h2 > a {
  font-family: var(--header-font);
  color: white;
  text-decoration: none;
}

#vehicle {
  display: grid;
}

#vehicle img {
  width: 100%;
  margin: auto;
}

#details {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  list-style: none;
  padding: 0;
}

#details li:nth-child(even) {
  background-color: gainsboro;
}

#details li h2 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

#details li {
  font-size: 1.2em;
  padding: .8em;
  border-radius: .5em;
}
