<!--Heading content-->
<% if (title) { %>
    <h1><%= title %></h1>
    <%} else {
        res.redirect('/')
    } %>

 <!--Flash Message-->
    <%- messages()  %>
  
  <!-- display errors -->
  <% if (errors) { %>
        <ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
  <%  }) %>
  </ul>
  <% } %>

<div class="management-links">
    <a href="/inv/add-classification">Add New Classification</a>
    <a href="/inv/add-inventory">Add New Inventory</a>
</div>

<h2>Manage Inventory</h2>
<div class="manage-inventory">
  <!-- CLASSIFICATION DROP DOWN -->
  <div class="form--fieldset">
    <!-- <label for="classification_id">Select a classification to view inventory:</label> -->
    <p class="drop-select">Select a classification to view inventory:</p>
    <select name="classification_id" id="classificationList">
      <%- classSelect %>
    </select>
  </div>
  <table id="inventoryDisplay"></table>
  <noscript>JavaScript must be enabled to use this page.</noscript>
</div>

<script src="../../js/script.js"></script>