<!-- Heading Content -->
<% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
    } %>

<!-- displays error messages -->
<%- messages() %>

<!-- display errors -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- send new message /account/sent -->
<div class="management-links">
    <a href="./inbox.ejs">Back to Inbox</a>
  </div>
  
  <%- archivedMessages %>